In [15]:
import numpy as np
import pandas as pd
import psycopg
from sqlalchemy import create_engine
import dotenv
import os
# import sqlite3

In [2]:
nba = pd.read_csv('ASA All NBA Raw Data.csv', low_memory=False)

In [3]:
pd.set_option('display.max_rows', 81)
nba.head(3).T

,0,1,2
game_id,202202170BRK,202202170BRK,202202170BRK
game_date,2022-02-17,2022-02-17,2022-02-17
OT,0,0,0
H_A,A,A,A
Team_Abbrev,WAS,WAS,WAS
Team_Score,117,117,117
Team_pace,94.5,94.5,94.5
Team_efg_pct,0.627,0.627,0.627
Team_tov_pct,13.5,13.5,13.5
Team_orb_pct,22.9,22.9,22.9
Team_ft_rate,0.157,0.157,0.157
Team_off_rtg,123.8,123.8,123.8
Inactives,"Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis","Joel Ayayi, Bradley Beal, Kristaps Porzingis"
Opponent_Abbrev,BRK,BRK,BRK
Opponent_Score,103,103,103
Opponent_pace,94.5,94.5,94.5
Opponent_efg_pct,0.483,0.483,0.483
Opponent_tov_pct,13.1,13.1,13.1
Opponent_orb_pct,33.3,33.3,33.3
Opponent_ft_rate,0.191,0.191,0.191
Opponent_off_rtg,109.0,109.0,109.0
player,Corey Kispert,Kyle Kuzma,Kentavious Caldwell-Pope
player_id,kispeco01,kuzmaky01,caldwke01
starter,1,1,1
mp,32:30,30:16,25:26
fg,6,2,3
fga,9,7,7
fg_pct,0.667,0.286,0.429
fg3,4,0,1
fg3a,6,3,3
fg3_pct,0.667,0.0,0.333
ft,0,1,0
fta,0,1,0
ft_pct,0.0,1.0,0.0
orb,0,0,1
drb,1,7,4
trb,1,7,5
ast,1,5,2
stl,2,1,1
blk,0,0,0
tov,2,7,1
pf,2,3,0
pts,16,5,7
plus_minus,13,10,13
did_not_play,0,0,0
is_inactive,0,0,0
ts_pct,0.889,0.336,0.5
efg_pct,0.889,0.286,0.5
fg3a_per_fga_pct,0.667,0.429,0.429
fta_per_fga_pct,0.0,0.143,0.0
orb_pct,0.0,0.0,5.4
drb_pct,3.3,24.7,16.8
trb_pct,1.8,13.9,11.8
ast_pct,4.0,18.5,9.4
stl_pct,3.1,1.7,2.0
blk_pct,0.0,0.0,0.0
tov_pct,18.2,48.5,12.5
usg_pct,15.6,22.0,14.5
off_rtg,133,55,106
def_rtg,113,107,110
bpm,3.1,-15.5,-3.8
season,2022,2022,2022
minutes,32.5,30.266667,25.433333
double_double,0,0,0
triple_double,0,0,0
DKP,23.75,19.75,18.25
FDP,22.7,16.9,18.0
SDP,24.75,17.25,18.75
DKP_per_minute,0.730769230769231,0.652533039647577,0.717562254259502
FDP_per_minute,0.698461538461538,0.558370044052863,0.707732634338139
SDP_per_minute,0.761538461538461,0.569933920704846,0.737221494102228
pf_per_minute,0.061538,0.099119,0.0
ts,9.0,7.44,7.0
last_60_minutes_per_game_starting,31.716667,34.324,29.82029
last_60_minutes_per_game_bench,22.017778,18.475954,16.051693
PG%,1.0,0.0,0.0
SG%,36.0,0.0,32.0
SF%,60.0,4.0,67.0
PF%,4.0,85.0,0.0
C%,0.0,11.0,0.0
active_position_minutes,46.253586,52.15259,47.021807

## Database Normalization
### First normal form:

1. **All tables must have a primary key**: In this table, `game_id` and `player_id` together are unique on every row, and so they form primary key.

2. **All the data must be atomic**: Inactives is non-atomic.

3. **No repeating groups problem**: We can't solve the non-atomicity problem by creating separate columns if this leads to arbitrary ordering language in the column names (for example, `Inactive1`, `Inactive2`, etc.) and if it leads to a lot of missing data (there would be an `Inactive7` which would be missing any time a team has less than 7 inactive players).

In [4]:
nba = nba.drop(['Inactives'], axis = 1)

### Functional Dependence
Let X and Y be columns in a data table. Y is functionally dependent on X if each value of X has exactly one value of Y.

That's pretty abstract. So here are some guidelines that help me:

1. This use of "function" is the exact same as the concept of a function from algebra and pre-calculus. A correspondence f(x)=y is a function if each value of x has only one associated value of y.

2. X is either a primary key, or something that should be a primary key in another table.

For example, `game_date` (Y) is functionally dependent on `game_id` (X) because one `game_id` takes place on exactly one date.

### Second normal form:
In this table the primary key is a superkey consisting of two columns: `game_id` and `player_id`. 

2NF is violated if any columns are functionally dependent on part of the primary key but not the entire primary key. This can only happen if the primary key is a superkey.

In [5]:
games = nba[['game_id', 'game_date', 'OT', 'season']].drop_duplicates()
games

             game_id   game_date  OT  season
0       202202170BRK  2022-02-17   0    2022
26      202202170CHO  2022-02-17   2    2022
48      202202170LAC  2022-02-17   0    2022
71      202202170MIL  2022-02-17   0    2022
95      202202170NOP  2022-02-17   0    2022
...              ...         ...  ..     ...
108259  202001080GSW  2020-01-08   0    2020
108887  202008020HOU  2020-08-02   0    2020
109683  201911060HOU  2019-11-06   0    2020
110125  201912250GSW  2019-12-25   0    2020
110643  202002200GSW  2020-02-20   0    2020

[3197 rows x 4 columns]

In [6]:
players = nba[['player_id', 'player']].drop_duplicates()
players

        player_id                    player
0       kispeco01             Corey Kispert
1       kuzmaky01                Kyle Kuzma
2       caldwke01  Kentavious Caldwell-Pope
3        netora01                 Raul Neto
4       bryanth01             Thomas Bryant
...           ...                       ...
109702  frazimi01           Michael Frazier
110441  howarwi01            William Howard
110913  mbahalu01          Luc Mbah a Moute
111399  bowmaky01                 Ky Bowman
112021  pargoje01              Jeremy Pargo

[812 rows x 2 columns]

In [7]:
nba = nba.drop(['game_date', 'OT', 'season', 'player'], axis = 1)

### Third normal form:
3NF is violated if there are "transitive dependencies", that is, functional dependence between columns when neither column is part of the primary key.

In [8]:
nba.columns

Index(['game_id', 'H_A', 'Team_Abbrev', 'Team_Score', 'Team_pace',
       'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate',
       'Team_off_rtg', 'Opponent_Abbrev', 'Opponent_Score', 'Opponent_pace',
       'Opponent_efg_pct', 'Opponent_tov_pct', 'Opponent_orb_pct',
       'Opponent_ft_rate', 'Opponent_off_rtg', 'player_id', 'starter', 'mp',
       'fg', 'fga', 'fg_pct', 'fg3', 'fg3a', 'fg3_pct', 'ft', 'fta', 'ft_pct',
       'orb', 'drb', 'trb', 'ast', 'stl', 'blk', 'tov', 'pf', 'pts',
       'plus_minus', 'did_not_play', 'is_inactive', 'ts_pct', 'efg_pct',
       'fg3a_per_fga_pct', 'fta_per_fga_pct', 'orb_pct', 'drb_pct', 'trb_pct',
       'ast_pct', 'stl_pct', 'blk_pct', 'tov_pct', 'usg_pct', 'off_rtg',
       'def_rtg', 'bpm', 'minutes', 'double_double', 'triple_double', 'DKP',
       'FDP', 'SDP', 'DKP_per_minute', 'FDP_per_minute', 'SDP_per_minute',
       'pf_per_minute', 'ts', 'last_60_minutes_per_game_starting',
       'last_60_minutes_per_game_bench', 'PG%', 'SG%', 'SF%', 'PF%', 'C%',
       'active_position_minutes'],
      dtype='object')

In [9]:
team_game = nba[['game_id', 'Team_Abbrev', 'H_A', 'Team_Score', 'Team_pace', 
                 'Team_efg_pct', 'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate', 
                 'Team_off_rtg', 'Opponent_Abbrev']].drop_duplicates()
nba = nba.drop(['H_A', 'Team_Score', 'Team_pace', 'Team_efg_pct', 
                'Team_tov_pct', 'Team_orb_pct', 'Team_ft_rate', 'Team_off_rtg', 
                'Opponent_Abbrev', 'Opponent_Score', 'Opponent_pace', 'Opponent_efg_pct', 
                'Opponent_tov_pct', 'Opponent_orb_pct', 'Opponent_ft_rate', 'Opponent_off_rtg'], axis = 1)
player_game = nba

* make all columns lowercase (for postgres)
* create ER diagram with dbdocs.io
* get postgres (and mysql, mongo though we wrent using them) running with docker
* create NBA DB with postgres
* use sqlalchemy/pandas to issue some simpole SQL queries (advanced SQL on Thursday)

In [10]:

player_game.columns = [x.lower().replace('%', '_pct') for x in player_game.columns]
team_game.columns = [x.lower().replace('%', '_pct') for x in team_game.columns]
players.columns = [x.lower().replace('%', '_pct') for x in players.columns]
games.columns = [x.lower().replace('%', '_pct') for x in games.columns]

In [11]:
player_game.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112123 entries, 0 to 112122
Data columns (total 60 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   game_id                            112123 non-null  object
 1   team_abbrev                        112123 non-null  object
 2   player_id                          112123 non-null  object
 3   starter                            112123 non-null  int64
 4   mp                                 112123 non-null  object
 5   fg                                 112123 non-null  int64
 6   fga                                112123 non-null  int64
 7   fg_pct                             112123 non-null  float64
 8   fg3                                112123 non-null  int64
 9   fg3a                               112123 non-null  int64
 10  fg3_pct                            112123 non-null  float64
 11  ft                                 112123 non-null  int64
 12  fta                                112123 non-null  int64
 13  ft_pct                             112123 non-null  float64
 14  orb                                112123 non-null  int64
 15  drb                                112123 non-null  int64
 16  trb                                112123 non-null  int64
 17  ast                                112123 non-null  int64
 18  stl                                112123 non-null  int64
 19  blk                                112123 non-null  int64
 20  tov                                112123 non-null  int64
 21  pf                                 112123 non-null  int64
 22  pts                                112123 non-null  int64
 23  plus_minus                         112123 non-null  int64
 24  did_not_play                       112123 non-null  int64
 25  is_inactive                        112123 non-null  int64
 26  ts_pct                             112123 non-null  float64
 27  efg_pct                            112123 non-null  float64
 28  fg3a_per_fga_pct                   112123 non-null  float64
 29  fta_per_fga_pct                    112123 non-null  float64
 30  orb_pct                            112123 non-null  float64
 31  drb_pct                            112123 non-null  float64
 32  trb_pct                            112123 non-null  float64
 33  ast_pct                            112123 non-null  float64
 34  stl_pct                            112123 non-null  float64
 35  blk_pct                            112123 non-null  float64
 36  tov_pct                            112123 non-null  float64
 37  usg_pct                            112123 non-null  float64
 38  off_rtg                            112123 non-null  int64
 39  def_rtg                            112123 non-null  int64
 40  bpm                                112123 non-null  float64
 41  minutes                            112123 non-null  float64
 42  double_double                      112123 non-null  int64
 43  triple_double                      112123 non-null  int64
 44  dkp                                112123 non-null  float64
 45  fdp                                112123 non-null  float64
 46  sdp                                112123 non-null  float64
 47  dkp_per_minute                     92725 non-null   object
 48  fdp_per_minute                     92725 non-null   object
 49  sdp_per_minute                     92725 non-null   object
 50  pf_per_minute                      92724 non-null   float64
 51  ts                                 112123 non-null  float64
 52  last_60_minutes_per_game_starting  109403 non-null  float64
 53  last_60_minutes_per_game_bench     109403 non-null  float64
 54  pg_pct                             111976 non-null  float64
 55  sg_pct                             111976 non-null  float64
 56  sf_pct                             111976 non-null  float64
 57  pf_pct                             111976 non-null  float64
 58  c_pct                              111976 non-null  float64
 59  active_position_minutes            97003 non-null   float64
dtypes: float64(30), int64(23), object(7)
memory usage: 51.3+ MB

In [12]:
team_game.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6394 entries, 0 to 112112
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_id          6394 non-null   object
 1   team_abbrev      6394 non-null   object
 2   h_a              6394 non-null   object
 3   team_score       6394 non-null   int64
 4   team_pace        6394 non-null   float64
 5   team_efg_pct     6394 non-null   float64
 6   team_tov_pct     6394 non-null   float64
 7   team_orb_pct     6394 non-null   float64
 8   team_ft_rate     6394 non-null   float64
 9   team_off_rtg     6394 non-null   float64
 10  opponent_abbrev  6394 non-null   object
dtypes: float64(6), int64(1), object(4)
memory usage: 599.4+ KB

In [13]:
players.info()

<class 'pandas.core.frame.DataFrame'>
Index: 812 entries, 0 to 112021
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   player_id  812 non-null    object
 1   player     812 non-null    object
dtypes: object(2)
memory usage: 19.0+ KB

In [14]:
games.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3197 entries, 0 to 110643
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   game_id    3197 non-null   object
 1   game_date  3197 non-null   object
 2   ot         3197 non-null   int64
 3   season     3197 non-null   int64
dtypes: int64(2), object(2)
memory usage: 124.9+ KB

In [17]:
dotenv.load_dotenv()
postgres_password = os.getenv('POSTGRES_PASSWORD')
postgres_password

'password1'

In [19]:
# Connect to postgres server
dbserver = psycopg.connect(
    user = 'postgres',
    password = postgres_password,
    host = 'localhost',
    port = '5432'
)
dbserver.autocommit = True

In [20]:
# Create NBA database
cursor = dbserver.cursor()
try:
    cursor.execute('CREATE DATABASE nba')
except:
    cursor.execute('DROP DATABASE nba')
    cursor.execute('CREATE DATABASE nba')

In [25]:
# upload NBA dataframes to NBA database
dbms = 'postgresql'
connector = 'psycopg'
user = 'postgres'
password = postgres_password
host = 'localhost'
port = '5432'
database = 'nba'
engine_string = f'{dbms}+{connector}://{user}:{password}@{host}:{port}/{database}'
engine_string

'postgresql+psycopg://postgres:password1@localhost:5432/nba'

In [26]:
engine = create_engine(engine_string)

In [32]:
player_game.to_sql('player_game', con = engine, chunksize = 1000, if_exists = 'replace', index = False)

-113

In [33]:
player_game.shape

(112123, 60)

In [34]:
pd.read_sql_query('SELECT * FROM player_game', con = engine).shape

(112123, 60)

In [35]:
team_game.to_sql('team_game', con = engine, chunksize = 1000, if_exists = 'replace', index = False)
players.to_sql('players', con = engine, chunksize = 1000, if_exists = 'replace', index = False)
games.to_sql('games', con = engine, chunksize = 1000, if_exists = 'replace', index = False)

-4

In [36]:
players.shape

(812, 2)

In [37]:
games.shape

(3197, 4)

In [38]:
team_game.shape

(6394, 11)

In [40]:
myquery = '''
SELECT *
FROM player_game
Where pts>60
'''
pd.read_sql_query(myquery, con=engine)

,game_id,team_abbrev,player_id,starter,mp,fg,fga,fg_pct,fg3,fg3a,...,pf_per_minute,ts,last_60_minutes_per_game_starting,last_60_minutes_per_game_bench,pg_pct,sg_pct,sf_pct,pf_pct,c_pct,active_position_minutes
0,202101030GSW,GSW,curryst01,1,36:27,18,31,0.581,8,16,...,0.000000,39.36,32.836667,16.089368,82.0,18.0,0.0,0.0,0.0,51.151069
1,202001200POR,POR,lillada01,1,45:08:00,17,37,0.459,11,20,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
2,202001200POR,POR,lillada01,1,45:08:00,17,37,0.459,11,20,...,0.022157,44.04,35.911905,20.859681,100.0,0.0,0.0,0.0,0.0,221.003792
3,202008110DAL,POR,lillada01,1,41:05:00,17,32,0.531,9,17,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500
4,202008110DAL,POR,lillada01,1,41:05:00,17,32,0.531,9,17,...,0.048682,39.92,41.463889,24.084590,100.0,0.0,0.0,0.0,0.0,205.012500